/* add css styles here (optional) */
.card {
  max-width: 400px;;
  display: flex;
  /* border: 1px solid #fff; */
  background-color: #fafafa;
  margin: 10px;
  box-shadow: 1px 1px 8px #666;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  background-color: #f0f0f0;
  overflow: hidden;
}
.photo img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

h1,
h2,
h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0px;
}

h2 {
  font-size: 0.7rem;
  font-weight: 400;
}

.content {
  flex-grow: 1;
  padding: 5px;
  padding-left: 10px;
}

.icons {
  display: flex;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: column;
}

.iconbutton {
  cursor: pointer;
}

.iconbutton:active {
  background-color: #d3d3d3;
}

.twitter {
  color: #1DA1F2;
}

@media (max-width: 480px) {
  .card {
    max-height: 120px;
  }
  .photo {
    max-width: 120px;
  }
  .photo img {
    width: 100px;
    height: 100px;
    border-radius: 80px;
  }

  h1 {
    font-size: 0.7rem;
    font-weight: 600;
  }

  h2 {
    font-size: 0.6rem;
    font-weight: 400;
  }
}
