/* add css styles here (optional) */
.card {
  display: flex;
  height: 150px;
  border: 1px solid #000;
  margin: 10px;
}

.profilePicture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  background-color: darkgray;
  overflow: hidden;
}

h1,
h2,
h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  font-size: 1.4rem;
  font-weight: 600;
}

h2 {
  font-size: 1.0rem;
  font-weight: 400;
}

.content {
  flex-grow: 1;
  padding-left: 10px;
}

@media (max-width: 480px) {
  .card {
    height: 100px;
  }
  .profilePicture {
    min-width: 100px;
  }

  h1 {
    font-size: 1rem;
    font-weight: 600;
  }

  h2 {
    font-size: 0.8rem;
    font-weight: 400;
  }
}
